{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Item Detail</h1>
<div class="container">

    <div class="card">
        <div class="card-header">
            <h2>{{ item.name|title }}</h2>
        </div>
        <div class="card-body">
            <div class="container row">
                <div class="col-md-12">
                    <p>Description: {{ item.description }}</p>
                    {% if item.currency == 'usd' %}
                    <p>Price: ${{ item.get_display_price }}</p>
                    {% else %}
                    <p>Price: ₽{{ item.get_display_price }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer d-flex">
            <form action="{% url 'buy' pk=item.id%}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" id="checkout-button">Buy</button>
            </form>
        </div>
    </div>
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
{% endblock content %}