{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Items List</h1>
<div class="container">
    {% if items %}
    <div class="row">

        {% for item in items %}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header d-flex">
                    <h4 class="card-title ">{{ item.name }}</h4>
                </div>
                <div class="card-body">
                    <p>Description: {{ item.description }}</p>
                    {% if item.currency == 'usd' %}
                    <p>Price: ${{ item.get_display_price }}</p>
                    {% else %}
                    <p>Price: €{{ item.get_display_price }}</p>
                    {% endif %}
                </div>
                <div class="card-footer d-flex">
                    <a href="{% url 'item_detail' id=item.id %}" class="btn btn-success ml-auto">Detail</a>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}

        <div class="col-sm-4">
            <div class="card">
                <a href="{% url 'create' %}" class="btn btn-success">+</a>
            </div>
        </div>

    </div>
    {% else %}
    <div class="alert alert-info text-center mt-5">
        The Item list is empty. Please add some items first <a href="{% url 'create' %}">Here</a>.
    </div>
    {% endif %}
</div>
{% endblock content %}